.header {
  font-size: 16px;
  height: 90vh;
  display: flex;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url("./img/Main-Body/studing.jpeg");
  object-fit: fill;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #c060a1;
}
.header__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.header .header__heading {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  margin: 10px;
  padding: 10px;
  font-size: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .header__subHeading {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  margin: 10px;
  padding: 10px;
  font-size: 128px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.header button {
  background-color: transparent;
  color: #c060a1;
  font-weight: bold;
  border: 1px solid #c060a1;
  margin: 10px 20px;
  padding: 10px;
  font-size: 32px;
  cursor: pointer;
  border-radius: 10px;
}
.header button:hover {
  background-color: #c060a1;
  color: #fff;
  transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  border: none;
}
@media (max-width: 1200px) {
  .header .header__heading {
    font-size: 115px;
  }
  .header .header__subHeading {
    font-size: 95px;
  }
}

@media (max-width: 900px) {
  .header .header__heading {
    font-size: 95px;
  }
  .header .header__subHeading {
    font-size: 65px;
  }
  .header button {
    font-size: 24px;
  }
}
@media (max-width: 650px) {
  .header .header__heading {
    font-size: 75px;
  }
  .header .header__subHeading {
    font-size: 45px;
  }
  .header button {
    font-size: 24px;
  }
}
