.meetingRoom__nav {
  display: flex;
  background-color: #1c1c1c;
  color: #efefef;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

.meetingRoom_navHome {
  display: flex;
  align-items: center;

  align-items: center;
  padding: 10px;
}
.meetingRoom_navHome_icon {
  font-size: 32px;
  color: #efefef;
}
span {
  margin: 0;
}
.meetingRoom_navHome span h3 {
  font-size: 26px;
  font-weight: bold;
  padding-left: 10px;
  color: #efefef;
  /* margin: 0; */
}
.meetingRoom_title {
  display: flex;
  align-items: center;
  padding-right: 20px;
}
.path {
  text-decoration: none;
}
@media (max-width: 500px) {
  .meetingRoom_title {
    padding-right: 10px;
  }
}
@media (max-width: 400px) {
  .meetingRoom_title {
    font-size: 14px;
  }
}
@media (max-width: 350px) {
  .meetingRoom_navHome_icon {
    font-size: 24px !important;
  }
  .meetingRoom_navHome span h3 {
    font-size: 16px;
    font-weight: 600;
  }
  .meetingRoom_title {
    font-size: 12px;
  }
}
