.navbar {
  background-color: #6a097d;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  position: fixed;
  top: 0;
  z-index: 88;
  width: 100%;
  transition: all 0.5ms;
}

.hamburger {
  position: absolute;
  top: 0;
  left: 0;
  /* padding: 5px; */
  -webkit-tap-highlight-color: transparent;
  margin: 5px;
  height: 45px;
  width: 45px;
  cursor: pointer;
}
.hamburger__icon {
  /* font-size: 48px !important; */
  color: #fff;
  height: 45px !important;
  width: 45px !important;
}
.navbar__link {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.navbar__brand {
  color: #f1d4d4;
  padding: 5px;
  font-size: 32px;
  font-weight: 800;
  cursor: pointer;
  width: 100%;
  margin: 0 10px;
  transition: 850ms;
}

/* Sidebar css */
.sidebar {
  height: 100vh;
  width: 250px;
  display: flex;
  background-color: #6a097d;
  position: fixed;
  justify-content: center;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 99;
}

.sidebar.active {
  left: 0;
  transition: 350ms;
}
.sidebar__text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 8px 8px 16px;
  list-style: none;
  height: 60px;
}

.sidebar a {
  text-decoration: none;
  color: #f1d4d4;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
  -webkit-tap-highlight-color: transparent;
  font-size: 22px;
  font-weight: 600;
}
.sidebar a:hover {
  background-color: #f1d4d4;
  color: #6a097d;
  transform: scale(1.05);
  font-weight: 700;
  text-decoration: none;
}

.sidebar__items {
  width: 100%;
}
.sidebar__toggle {
  background-color: #6a097d;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}
span {
  margin-left: 16px;
}

.sidebar__closeIcon {
  color: #f1d4d4;
  font-size: 48px !important;

  margin: 10px;
}
@media (max-width: 900px) {
  .navbar.navbar__Active {
    justify-content: flex-end;
    transition: 350ms;
  }
}
@media (max-width: 600px) {
  .navbar.navbar__Active {
    justify-content: center;
    transition: 350ms;
  }
  .navbar__brand.navbar__brandActive {
    transition: 350ms;
  }
  .sidebar {
    top: 54px;
  }

  .sidebar__toggle {
    display: none;
  }
}
